<%- include('./partials/header') %>

    <article class="card m-4 p-2">
        <div class="media mb-2">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/img/<%= bottle.color %>.png" alt="Placeholder image">

                    <div class="is-size-7 has-text-centered mt-1">
                        <% for (let i=1; i<=5; i++) {
                            if (bottle.note >= i) {%>
                            &#9733;
                        <% } else { %>
                            &#9734;
                        <% } %>
                        <% } %>
                    </div>
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-3 mb-5"><%= bottle.label %></p>
                <p class="subtitle is-5 mb-2"><%= bottle.appellation.label %></p>
                <p class= "is-italic is-size-6 mb-2"><%= bottle.millesime %></p>
                <p class= "is-italic is-size-7"><%= guard[bottle.guard] %></p>

            </div>

        </div>

        <div class="content p-2 pt-4">
            <%= bottle.comment %>
            <div class="is-size-7 is-flex is-flex-direction-row is-justify-content-space-between pt-4">
                <p>Etagère : <%= bottle.rack %></p>
                <p>Quantité : <%= bottle.quantity %></p>
            </div>

        </div>

        <footer class="card-footer">
            <a href="#" class="card-footer-item has-text-dark" title="Sortir une bouteille">
                <i class="fas fa-wine-glass-alt"></i>    
            </a>
            <a href="/maj-bouteille/<%= bottle.id %>" class="card-footer-item has-text-dark" title="Modifier une bouteille">
                <i class="fas fa-pencil-alt"></i>
            </a>
        </footer>

    </article>

<%- include('./partials/footer') %>
