<%- include('./partials/header') %>

    <article class="card m-4 p-2">
        <div class="media mb-2">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="/img/<%= bottle.color %>.png" alt="Placeholder image">

                    <% if (bottle.note) { %>
                        <div class="is-size-7 has-text-centered mt-1">
                            <% for (let i=1; i<=5; i++) {
                                if (bottle.note >= i) {%>
                                &#9733;
                            <% } else { %>
                                &#9734;
                            <% } %>
                            <% } %>
                        </div>
                    <% } %>
                </figure>
            </div>

            <div class="media-content">
                <p class="title is-3 mb-5"><%= bottle.label %></p>
                <p class="subtitle is-5 mb-2"><%= bottle.appellation.label %></p>
                <p class= "is-italic is-size-6 mb-2"><%= bottle.millesime %></p>

                <div class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center">
                    <p class= "is-italic is-size-7"><%= guard[bottle.guard] %></p>
                    <% if (locals.isDrinkable(bottle.millesime, bottle.guard)) { %> 
                        <i class="fas fa-wine-bottle mr-4" title="A boire"></i>
                    <% } %>
                </div>

            </div>

        </div>

        <div class="content p-2 pt-4">
            <%= bottle.comment %>
            <div class="is-size-7 is-flex is-flex-direction-row is-justify-content-space-between pt-4">
                <p>Etagère : <%= racks[bottle.rack] %></p>
                <p>Quantité : <%= bottle.quantity %></p>
            </div>

        </div>

        <footer class="card-footer">

            <% if (bottle.quantity > 0) { %>
                <a href="/boire-bouteille/<%= bottle.id %>" class="card-footer-item has-text-dark" title="Sortir une bouteille">
                    <i class="fas fa-wine-glass-alt"></i>    
                </a>
            <% } else { %>
                <a href="#" class="card-footer-item has-text-dark is-hidden" title="Sortir une bouteille">
                    <i class="fas fa-wine-glass-alt"></i>    
                </a>
            <% } %>

            <a href="/maj-bouteille/<%= bottle.id %>" class="card-footer-item has-text-dark" title="Modifier une bouteille">
                <i class="fas fa-pencil-alt"></i>
            </a>

            <a class="card-footer-item has-text-dark js-modal-trigger" title="Attribuer une note" data-target="modal-note">
                <i class="fas fa-star-half-alt"></i>
            </a> 

            <div class="modal" id="modal-note">
                <div class="modal-background m-10"></div>

                <div class="modal-card m-6 has-text-centered">
                    <header class="modal-card-head">
                    <p class="modal-card-title">Attribuer une note</p>
                    <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                        <form action="/note-bouteille/<%= bottle.id %>" method="post">
                            <div class="field">
                                <label class="label" for="note">Note</label>
                                <div class="select">
                                    <select id="note" name="note">
                                        <option value=<%= bottle.note %> selected hidden><%= bottle.note %></option>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>

                            <div class="control">
                                <button class="button is-primary" type="submit">Valider</button>
                            </div>

                        </form>
                    </section>
                </div>
            </div>

        </footer>

    </article>

<%- include('./partials/footer') %>
