<%- include('./partials/header') %>

    <h2 class="subtitle is-4 has-text-centered">Liste des bouteilles</h2>

        <% bottles.forEach(bottle => { %>
            <a href="/bouteille/<%=bottle.id%>">
                <article class="card m-4 p-2">
                    <div class="media mb-2">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/img/<%= bottle.color %>.png" alt="Placeholder image">

                                <div class="is-size-7 has-text-centered mt-1">
                                    <% for (let i=1; i<=5; i++) {
                                        if (bottle.note >= i) {%>
                                        &#9733;
                                    <% } else { %>
                                        &#9734;
                                    <% } %>
                                    <% } %>
                                </div>
                            </figure>
                        </div>

                        <div class="media-content">
                            <p class="title is-4 mb-5"><%= bottle.label %></p>
                            <p class="subtitle is-6 mb-2"><%= bottle.appellation.label %></p>
                            <div class="is-size-7 is-flex is-flex-direction-row is-justify-content-space-between">
                                <p class= "is-italic"><%= bottle.millesime %></p>
                                <p>Quantité : <%= bottle.quantity %></p>
                            </div>
                        </div>
                    </div>
                </article>
            </a>
        <% }) %>

<%- include('./partials/footer') %>
