<%- include('./partials/header') %>

    <form class="container m-4 mt-4" action="/nouvelle_bouteille" method="post">
        <div class="field">
            <label class="label" for="label">Nom</label>
            <div class="control">
              <input class="input" type="text" id="label" name="label" placeholder="Château Pétrus" value="<%= locals.fields?.label || '' %>" required>
            </div>
            <% locals.errors?.find(error => { %>
                <% if (error.path === 'label') { %>
                    <p class="help is-danger"><%= error.message %></p>
                <% } %>
            <% }) %>
        </div>

        <div class="field">
            <label class="label" for="appellation">Appellation</label>
            <div class="control">
                <div class="select">
                    <select id="appellation" name="appellation_id" required>
                        <% if (locals.fields?.appellation_id) { %>
                            <% appellations.forEach(appellation => { %>
                                <% if (locals.fields.appellation_id == appellation.id) { %>
                                    <option value="<%= appellation.id %>" selected hidden>
                                        <%= appellation.label %>
                                    </option>
                                <% } else { %>
                                    <option value=<%= appellation.id %> >
                                        <%= appellation.label %>
                                    </option>
                                <% } %>
                            <% }); %>
                        <% } else { %>
                            <option value="" selected disabled hidden></option>
                            <% appellations.forEach(appellation => { %>
                                <option value=<%= appellation.id %> >
                                    <%= appellation.label %>
                                </option>
                            <% }); %>
                        <% } %>
                    </select>
                </div>
            </div>
            <% locals.errors?.find(error => { %>
                <% if (error.path === 'appellation_id') { %>
                    <p class="help is-danger"><%= error.message %></p>
                <% } %>
            <% }) %>

        </div>

        <div class="field">
            <label class="label" for="color">Type</label>
            <div class="control">
                <div class="select">
                    <select id="color" name="color" required>
                        <% if (locals.fields?.color) { %>
                            <option value="<%= locals.fields.color %>" selected hidden><%= colors[locals.fields.color] %></option>
                        <% } else { %>
                            <option selected disabled hidden></option>
                        <% } %>
                        <% for (const color in colors) { %>
                            <option value="<%= color %>"><%= colors[color] %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <% locals.errors?.find(error => { %>
                <% if (error.path === 'color') { %>
                    <p class="help is-danger"><%= error.message %></p>
                <% } %>
            <% }) %>

        </div>

        <div class="field is-grouped">
            <div class="field mr-4">
                <label class="label" for="millesime">Millésime</label>
                <div class="control">
                    <input class="input" type="number"  id="millesime" name="millesime" placeholder="2020"  min="1975" value="<%= locals.fields?.millesime || '' %>" required>
                </div>
                <% locals.errors?.find(error => { %>
                    <% if (error.path === 'millesime') { %>
                        <p class="help is-danger"><%= error.message %></p>
                    <% } %>
                <% }) %>
    
            </div>

            <div class="field">
                <label class="label" for="guard">Viellissement</label>
                <div class="select">
                    <select id="guard" name="guard">
                        <% if (locals.fields?.guard) { %>
                            <option value="<%= locals.fields.guard %>" selected hidden><%= guard[locals.fields.guard] %></option>
                        <% } else { %>
                            <option selected disabled hidden></option>
                        <% } %>
                        <% for (const property in guard) {%>
                            <option value=<%= property %> >
                                <%= guard[property] %>
                            </option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="field mr-4">
                <label class="label" for="quantity">Quantité</label>
                <div class="control">
                    <input class="input" type="number" id="quantity" name="quantity" placeholder="1" min="0" value="<%= locals.fields?.quantity || '' %>" required>
                </div>
                <% locals.errors?.find(error => { %>
                    <% if (error.path === 'quantity') { %>
                        <p class="help is-danger"><%= error.message %></p>
                    <% } %>
                <% }) %>
    
            </div>

            <div class="field">
                <label class="label" for="rack">Etagère</label>
                <div class="select">
                    <select id="rack" name="rack">
                        <% if (locals.field?.rack) { %>
                            <option value="<%= locals.fields.rack %>" selected hidden><%= locals.fields.rack %></option>
                        <% } else { %>
                            <option selected disabled hidden></option>
                        <% } %>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="comment">Commentaire</label>
            <div class="control">
                <textarea class="textarea" id="comment" name="comment" placeholder="Commentaire" value="<%= locals.fields?.comment || '' %>"><%= locals.fields?.comment || '' %></textarea>
            </div>
        </div>

        <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button class="button is-primary" type="submit">Ajouter</button>
            </div>
            <div class="control">
              <a href="/" class="button is-light">Annuler</a>
            </div>
        </div>

    </form>

<%- include('./partials/footer') %>
