<%- include('./partials/header') %>

    <form class="container m-4 mt-4" action="/maj-bouteille/<%= bottle.id %>" method="post">
        <div class="field">
            <label class="label" for="label">Nom</label>
            <div class="control">
              <input class="input" type="text" id="label" name="label" placeholder="Château Pétrus" required value="<%= bottle.label %>">
            </div>
        </div>

        <div class="field">
            <label class="label" for="appellation">Appellation</label>
            <div class="control">
                <div class="select">
                    <select id="appellation" name="appellation_id" required>
                        <option value="<%= bottle.appellation_id %>" selected hidden><%= bottle.appellation.label %></option>
                        <% appellations.forEach(appellation => { %>
                            <option value="<%= appellation.id %>" >
                                <%= appellation.label %>
                            </option>
                        <% }) %>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="color">Type</label>
            <div class="control">
                <div class="select">
                    <select id="color" name="color" required>
                        <option value="<%= bottle.color %>" selected hidden><%= bottle.color[0].toUpperCase() +  bottle.color.slice(1) %></option>
                        <option value="blanc">Blanc</option>
                        <option value="rose">Rosé</option>
                        <option value="rouge">Rouge</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="field mr-4">
                <label class="label" for="millesime">Millésime</label>
                <div class="control">
                    <input class="input" type="number"  id="millesime" name="millesime" placeholder="2020" required min="1975" value="<%= bottle.millesime %>">
                </div>
            </div>

            <div class="field">
                <label class="label" for="guard">Viellissement</label>
                <div class="select">
                    <select id="guard" name="guard">
                        <option value="<%= bottle.guard %>" selected hidden><%= guard[bottle.guard] %></option>
                        <% for (const property in guard) {%>
                            <option value=<%= property %> >
                                <%= guard[property] %>
                            </option>
                        <% } %>
                    </select>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="field mr-4">
                <label class="label" for="quantity">Quantité</label>
                <div class="control">
                    <input class="input" type="number" id="quantity" name="quantity" placeholder="1" min="0" required value="<%= bottle.quantity %>">
                </div>
            </div>

            <div class="field">
                <label class="label" for="rack">Etagère</label>
                <div class="select">
                    <select id="rack" name="rack">
                        <option value="<%= bottle.rack %>" selected hidden><%= bottle.rack %></option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label" for="comment">Commentaire</label>
            <div class="control">
                <textarea class="textarea" id="comment" name="comment" placeholder="Commentaire" value="<%= bottle.comment %>"><%= bottle.comment %></textarea>
            </div>
        </div>

        <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <button class="button is-primary" type="submit">Valider</button>
            </div>
            <div class="control">
              <a href="/bouteille/<%= bottle.id %>" class="button is-light">Annuler</a>
            </div>
        </div>

    </form>

    <button class="button is-danger js-modal-trigger is-flex m-auto" data-target="modal-delete">Supprimer</button>

    <div class="modal" id="modal-delete">
        <div class="modal-background m-10"></div>

        <div class="modal-card m-6 has-text-centered">
            <header class="modal-card-head">
              <p class="modal-card-title">Supprimer ?</p>
              <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                <p class="mb-4">Etes-vous sûr ?</p>
                <a href="/suppr-bouteille/<%= bottle.id %>" class="button is-danger">Oui</a>

            </section>
          </div>
    </div>

<%- include('./partials/footer') %>
